<p><strong>In Store Ordering Kiosk &ndash; End User License Agreement</strong></p>

<p><em>EFFECTIVE DATE August 3, 2016</em></p>

<p>Please read this EULA carefully, as it sets out the basis upon which we license the SELF SERVE KIOSK application for use. By downloading the Software, you agree to be bound by this EULA. If you do not agree to be bound by this EULA, you must promptly purge the Software from all devices. By agreeing to be bound by this EULA, you further agree that you and all of your agents OR any person you authorize to use the Software will comply with the provision of this EULA.</p>

<p><strong>AGREEMENT</strong></p>

<ol>
	<li><strong>Definitions</strong></li>
</ol>

<p>1.1&nbsp;&nbsp;&nbsp; Except to the extent expressly provided otherwise, in this EULA:</p>

<p>&ldquo;<strong>Application</strong>&rdquo; means the SELF SERVE KIOSK application available on the Clover App Market and all of its related programming and source code;</p>

<p>&ldquo;<strong>Charges</strong>&rdquo; means those amounts that the parties have agreed in writing shall be payable by <strong>In Store Ordering Kiosk &ndash; End User License Agreement</strong></p>

<p><em>EFFECTIVE DATE August 3, 2016</em></p>

<p>Please read this EULA carefully, as it sets out the basis upon which we license the SELF SERVE KIOSK application for use. By downloading the Software, you agree to be bound by this EULA. If you do not agree to be bound by this EULA, you must promptly purge the Software from all devices. By agreeing to be bound by this EULA, you further agree that you and all of your agents OR any person you authorize to use the Software will comply with the provision of this EULA.</p>

<p><strong>AGREEMENT</strong></p>

<ol>
	<li value="2"><strong>Definitions</strong></li>
</ol>

<p>1.1&nbsp;&nbsp;&nbsp; Except to the extent expressly provided otherwise, in this EULA:</p>

<p>&ldquo;<strong>Application</strong>&rdquo; means the IN STORE ORDERING KIOSK application available on the Clover App Market and all of its related programming and source code;</p>

<p>&ldquo;<strong>Charges</strong>&rdquo; means those amounts that the parties have agreed in writing shall be payable by the User to the Licensor in respect of this EULA;</p>

<p>&ldquo;<strong>Documentation</strong>&rdquo; means the documentation for the Software produced by the Licensor and delivered or made available by the Licensor to the User;</p>

<p>&ldquo;<strong>EULA</strong>&rdquo; means this end user license agreement, including any amendments to this end user license agreement from time to time;</p>

<p>&ldquo;<strong>Effective Date</strong>&rdquo; means the date upon which the User gives the User&rsquo;s express consent to this EULA, following the issue of this EULA by the Licensor;</p>

<p>&ldquo;<strong>Intellectual Property Rights</strong>&rdquo; means all intellectual property rights wherever in the world, whether registrable or unregistrable, registered or unregistered, including any application or right of application for such rights (and these &ldquo;intellectual property rights&rdquo; include copyright and related rights, database rights, confidential information, trade secrets, know-how, business names, trade names, trademarks, service marks, passing off rights, unfair competition rights, patents, petty patents, utility models, semi-conductor topography rights and rights in designs);</p>

<p>&ldquo;<strong>Licensor</strong>&rdquo; means Culinary Task Force, LLC of 2341 Glencoe Ave</p>

<p>Venice, CA 9029 any of its affiliates, a company incorporated in United States.</p>

<p>&ldquo;<strong>Licensor Indemnity Event</strong>&rdquo; has the meaning given to it in Clause 13.1;</p>

<p>&ldquo;<strong>Maintenance Services</strong>&rdquo; means the supply to the User technical support for the application OR supply to the User Updates and Upgrades;</p>

<p>&ldquo;<strong>Services</strong>&rdquo; means any services that the Licensor provides to the User, or has an obligation to provide to the User, under this EULA;</p>

<p>&ldquo;<strong>Software</strong>&rdquo; means&nbsp;the IN STORE ORDERING KIOSK application in all of any of its parts or coding;</p>

<p>&ldquo;<strong>Software Defect</strong>&rdquo; means a defect, error or bug in the Software having an adverse effect OR a material adverse effect on the appearance, operation, functionality or performance of the Software, but excluding any defect, error or bug caused by or arising as a result of any act or omission of the User or any person authorized by the User to use the Software.</p>

<p>&ldquo;<strong>Source Code</strong>&rdquo; means the Software code in human-readable form or any part of the Software code in human-readable form, including code compiled to create the application or decompiled from the application, but excluding interpreted code comprised in the Software;</p>

<p>&ldquo;<strong>Support Services</strong>&rdquo; means support in relation to the use of the Software and the identification and resolution of errors in the Software, but shall not include the provision of training services whether in relation to the Software or otherwise;</p>

<p>&ldquo;<strong>Term</strong>&rdquo; means the term of this EULA, commencing in accordance with Clause 3.1 and ending in accordance with Clause 3.2;</p>

<p>&ldquo;<strong>Update</strong>&rdquo; means a hotfix, patch or minor version update to the application;</p>

<p>&ldquo;<strong>Upgrade</strong>&rdquo; means a major version upgrade of the application;</p>

<p>&ldquo;<strong>User</strong>&rdquo; means the person to whom the Licensor grants a right to use the Software under this EULA.</p>

<ol>
	<li><strong>Credit</strong></li>
	<li value="1"><strong>Term</strong></li>
</ol>

<p>3.1&nbsp;&nbsp;&nbsp; This EULA shall come into force upon the Effective Date.</p>

<p>3.2&nbsp;&nbsp;&nbsp; This EULA shall continue in force indefinitely, subject to termination in accordance with Clause 15.</p>

<ol>
	<li><strong>License</strong></li>
</ol>

<p>4.1&nbsp;&nbsp;&nbsp; The Licensor hereby grants to the User from the date of supply of the application to the User until the end of the Term, non-exclusive license to create, store and maintain back-up copies of the Software, subject to the limitations and prohibitions set out and referred to in this Clause 4.</p>

<p>4.2&nbsp;&nbsp;&nbsp; The User may not sub-license and must not purport to sub-license any rights granted under Clause 4.1 without the prior written consent of the Licensor.</p>

<p>4.3&nbsp;&nbsp;&nbsp; Save to the extent expressly permitted by this EULA or required by applicable law on a non-excludable basis, any license granted under this Clause 4 shall be subject to the following prohibitions:</p>

<p>(a)&nbsp;&nbsp;&nbsp; the User must not sell, resell, rent, lease, loan, supply, publish, distribute or redistribute the Software;</p>

<p>(b)&nbsp;&nbsp;&nbsp; the User must not alter, edit or adapt the Software; and</p>

<p>(c)&nbsp;&nbsp;&nbsp; the User must not decompile, de-obfuscate or reverse engineer, or attempt to decompile, de-obfuscate or reverse engineer, the Software.</p>

<p>4.4&nbsp;&nbsp;&nbsp; The User shall be responsible for the security of copies of the Software supplied to the User under this EULA (or created from such copies) and shall use all reasonable endeavors (including all reasonable security measures) to ensure that access to such copies is restricted to persons authorized to use them under this EULA.</p>

<ol>
	<li><strong>Source Code</strong></li>
</ol>

<p>5.1&nbsp;&nbsp;&nbsp; Nothing in this EULA shall give to the User or any other person any right to access or use the Source Code or constitute any license of the Source Code.</p>

<ol>
	<li><strong>Maintenance Services</strong></li>
</ol>

<p>6.1&nbsp;&nbsp;&nbsp; The Licensor shall provide the Maintenance Services to the User during the Term.</p>

<p>6.2&nbsp;&nbsp;&nbsp; The Licensor shall provide the Maintenance Services with reasonable skill and care in accordance with the standards of skill and care reasonably expected from a leading service provider in the Licensor&rsquo;s industry.</p>

<p>6.3&nbsp;&nbsp;&nbsp; The Licensor warrants to the User that the application of Updates and Upgrades to the Software by the Licensor will not introduce any Software Defects into the Software.</p>

<p>6.4&nbsp;&nbsp;&nbsp; The Licensor warrants to the User that the application of Updates and Upgrades to the Application by the User in accordance with the instructions of the Licensor will not introduce any Software Defects into the Software.</p>

<p>6.5&nbsp;&nbsp;&nbsp; The Licensor may suspend the provision of the Maintenance Services if any amount due to be paid by the User to the Licensor under this EULA is overdue, and the Licensor has given to the User at least [30 days&rsquo;] written notice, following the amount becoming overdue, of its intention to suspend the Maintenance Services on this basis.</p>

<p>6.6&nbsp;&nbsp;&nbsp; If the Licensor stops or makes a good faith decision to stop providing maintenance services in relation to the Software to its customers generally, then the Licensor may terminate the Maintenance Services by giving at least [90 days&rsquo;] written notice of termination to the User.</p>

<p>6.7&nbsp;&nbsp;&nbsp; If the Maintenance Services are terminated in accordance with the provisions of this Clause 6:</p>

<p>(a)&nbsp;&nbsp;&nbsp; the User must pay to the Licensor any outstanding Charges in respect of Maintenance Services provided to the User before the termination of the Maintenance Services;</p>

<p>(b)&nbsp;&nbsp;&nbsp; the Licensor must refund to the User any Charges paid by the User to the Licensor in respect of Maintenance Services that were to be provided to the User after the termination of the Maintenance Services; and</p>

<p>(c)&nbsp;&nbsp;&nbsp; the provisions of this Clause 6, excluding this Clause 6.7, shall cease to apply, but the other provisions of this EULA will continue notwithstanding such termination.</p>

<ol>
	<li><strong>Support Services</strong></li>
</ol>

<p>7.1&nbsp;&nbsp;&nbsp; The Licensor shall provide the Support Services to the User during the Term.</p>

<p>7.2&nbsp;&nbsp;&nbsp; The Licensor shall provide the Support Services with reasonable skill and care OR in accordance with the standards of skill and care reasonably expected from a leading service provider in the Licensor&rsquo;s industry.</p>

<p>7.3&nbsp;&nbsp;&nbsp; The Licensor may suspend the provision of the Support Services if any amount due to be paid by the User to the Licensor under this EULA is overdue;</p>

<p>7.4&nbsp;&nbsp;&nbsp; Either party may terminate the Support Services by giving to the other party written notice;</p>

<ol>
	<li><strong>No assignment of Intellectual Property Rights</strong></li>
</ol>

<p>8.1&nbsp;&nbsp;&nbsp; Nothing in this EULA shall operate to assign or transfer any Intellectual Property Rights from the Licensor to the User, or from the User to the Licensor.</p>

<ol>
	<li><strong>Charges</strong></li>
</ol>

<p>9.1&nbsp;&nbsp;&nbsp; The User shall pay the Charges to the Licensor in accordance with the current designated Payment established in the Clover App Market at initial time of download.</p>

<ol>
	<li><strong>Payments</strong></li>
</ol>

<p>10.1&nbsp; The Licensor will be responsible for issuing the charge type in accordance with Clover standards in four different sources: Subscription, Prorated Subscription, Partial Month, and Metered.</p>

<p>(a) Subscription &ndash; a monthly subscription rate of zero or more will generate a&nbsp;<strong>Subscription</strong>&nbsp;charge for that amount at the beginning of every month for each merchant (MID) who already has that app installed. Unlike the other charge types,&nbsp;<strong>Subscription</strong>&nbsp;charges&nbsp;are&nbsp;payments for the current/upcoming month. So&nbsp;on January first,&nbsp;<strong>Subscription&nbsp;</strong>charges will be generated for the subscription period of the month of January.&nbsp;<strong>Subscription &nbsp;</strong>charges will only ever be generated at the beginning of full month periods.</p>

<p>(b) Prorated Subscription -any upgrades or downgrades the subscription part way through a month, and the effective monthly subscription rate changes, a&nbsp;<strong>Prorated Subscription</strong>&nbsp;charge will be generated immediately at the time of the upgrades or downgrades. If moving to a&nbsp;<em>higher</em>&nbsp;monthly subscription rate, the&nbsp;<strong>Prorated Subscription &nbsp;</strong>will be a charge for the difference in rate for the remainder of the month at the time of the change. If moving to a&nbsp;<em>lower</em>&nbsp;monthly subscription rate, the&nbsp;<strong>Prorated Subscription &nbsp;</strong>will be a refund for the difference in the rate for the remainder of the month at the time of the change.</p>

<p>(c) Partial Month &ndash; If&nbsp;it is not precisely the beginning of a billing period when the end of a free trial period with an app&nbsp;(or installs an app without a free trial), a&nbsp;<strong>Partial Month&nbsp;</strong>charge will be generated on the day the billable subscription rate activates. This charge will be a partial monthly subscription amount for the remainder of the month long billing period after the app first becomes billable.</p>

<p>(d) Metered &ndash; a metered event is triggered for an app with billable metered events, Clover collects the event. On the first of every month all of the metered events a merchant generated for a given app during the previous month are totaled together into a single&nbsp;<strong>Metered</strong>&nbsp;charge.</p>

<ol>
	<li value="11"><strong>Warranties</strong></li>
</ol>

<p>11.1&nbsp; The Licensor warrants to the User that it has the legal right and authority to enter into this EULA and to perform its obligations under this EULA.</p>

<p>11.2&nbsp; The Licensor warrants to the User that:</p>

<p>(a)&nbsp;&nbsp;&nbsp; the Software as provided will conform in all material respects with the Software Specification;</p>

<p>(b)&nbsp;&nbsp;&nbsp; the Software will be supplied free from Software Defects and will remain free from Software Defects;</p>

<p>(c)&nbsp;&nbsp;&nbsp; the Software will be supplied free from malicious software programs;</p>

<p>11.3&nbsp; The Licensor warrants to the User that the Software, when used by the User in accordance with this EULA, will not breach any laws, statutes or regulations applicable under the law.</p>

<p>11.4&nbsp; The Licensor warrants to the User that the Software, when used by the User in accordance with this EULA, will not infringe the Intellectual Property Rights of any person in any jurisdiction and under any applicable law.</p>

<ol>
	<li><strong>Acknowledgements and warranty limitations</strong></li>
</ol>

<p>12.1&nbsp; The User acknowledges that complex software is never wholly free from defects, errors, bugs, and security vulnerabilities; and subject to the other provisions of this EULA, the Licensor gives no warranty or representation that the Software will be wholly free from defects, errors, bugs, and secure.</p>

<p>12.2&nbsp; The User acknowledges that the Software is only designed to be compatible with specified Clover devices.</p>

<p>12.3&nbsp; The User acknowledges that the Licensor will not provide any legal, financial, accountancy or taxation advice under this EULA or in relation to the Software.</p>

<ol>
	<li><strong>Indemnities</strong></li>
</ol>

<p>13.1&nbsp; The Licensor shall indemnify and shall keep indemnified the User against any and all liabilities, damages, losses, costs and expenses (including legal expenses and amounts reasonably paid in settlement of legal claims) suffered or incurred by the User and arising directly or indirectly as a result of any breach by the Licensor of this EULA (a &ldquo;<strong>Licensor Indemnity Event</strong>&ldquo;).</p>

<p>13.2&nbsp; The User must:</p>

<p>(a)&nbsp;&nbsp;&nbsp; upon becoming aware of an actual or potential Licensor Indemnity Event, notify the Licensor;</p>

<p>(b)&nbsp;&nbsp;&nbsp; provide to the Licensor all such assistance as may be reasonably requested by the Licensor in relation to the Licensor Indemnity Event;</p>

<p>(c)&nbsp;&nbsp;&nbsp; allow the Licensor the exclusive conduct of all disputes, proceedings, negotiations and settlements with third parties relating to the Licensor Indemnity Event; and</p>

<p>(d)&nbsp;&nbsp;&nbsp; not admit liability to any third party in connection with the Licensor Indemnity Event.</p>

<p>13.3&nbsp; The User shall indemnify and shall keep indemnified the Licensor against any and all liabilities, damages, losses, costs and expenses (including legal expenses and amounts reasonably paid in settlement of legal claims) suffered or incurred by the Licensor and arising directly or indirectly as a result of any breach by the User of this EULA (a &ldquo;<strong>User Indemnity Event</strong>&ldquo;).</p>

<p>13.4&nbsp; The Licensor must:</p>

<p>(a)&nbsp;&nbsp;&nbsp; upon becoming aware of an actual or potential User Indemnity Event, notify the User;</p>

<p>(b)&nbsp;&nbsp;&nbsp; provide to the User all such assistance as may be reasonably requested by the User in relation to the User Indemnity Event;</p>

<p>(c)&nbsp;&nbsp;&nbsp; allow the User the exclusive conduct of all disputes, proceedings, negotiations and settlements with third parties relating to the User Indemnity Event; and</p>

<p>(d)&nbsp;&nbsp;&nbsp; not admit liability to any third party in connection with the User Indemnity Event or settle any disputes or proceedings involving a third party and relating to the User Indemnity Event without the prior written consent of the User,</p>

<p>13.5&nbsp; The indemnity protection set out in this Clause 13 shall be subject to the limitations and exclusions of liability set out in this EULA.</p>

<ol>
	<li><strong>Limitations and exclusions of liability</strong></li>
</ol>

<p>14.1&nbsp; Nothing in this EULA will:</p>

<p>(a)&nbsp;&nbsp;&nbsp; limit or exclude any liability for death or personal injury resulting from negligence;</p>

<p>(b)&nbsp;&nbsp;&nbsp; limit or exclude any liability for fraud or fraudulent misrepresentation;</p>

<p>(c)&nbsp;&nbsp;&nbsp; limit any liabilities in any way that is not permitted under applicable law; or</p>

<p>(d)&nbsp;&nbsp;&nbsp; exclude any liabilities that may not be excluded under applicable law,</p>

<p>and, if a party is a consumer, that party&rsquo;s statutory rights will not be excluded or limited by this EULA, except to the extent permitted by law.</p>

<p>14.2&nbsp; The Licensor will not be liable to the User in respect of any business or personal losses or anticipated savings both directly or indeirectly.</p>

<ol>
	<li><strong>Termination</strong></li>
</ol>

<p>15.1&nbsp; Clover merchants may terminate this EULA immediately. Clover merchants will uninstall the app from the App Market to terminate. <a name="_GoBack"></a>&nbsp;</p>

<ol>
	<li><strong>Effects of termination</strong></li>
</ol>

<p>16.1&nbsp; Upon the termination of this EULA, all of the provisions of this EULA shall cease to have effect, save that the following provisions of this EULA shall survive and continue to have effect.</p>

<ol>
	<li><strong>General</strong></li>
</ol>

<p>17.1&nbsp; No breach or vary of any provision of this EULA shall be waived except with the express written consent of the party not in breach.</p>

<p>17.2&nbsp; If any provision of this EULA is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions of this EULA will continue in effect.</p>

<p><br />
&nbsp;</p>

<p>&nbsp;</p>

<p>the User to the Licensor in respect of this EULA;</p>

<p>&ldquo;<strong>Documentation</strong>&rdquo; means the documentation for the Software produced by the Licensor and delivered or made available by the Licensor to the User;</p>

<p>&ldquo;<strong>EULA</strong>&rdquo; means this end user license agreement, including any amendments to this end user license agreement from time to time;</p>

<p>&ldquo;<strong>Effective Date</strong>&rdquo; means the date upon which the User gives the User&rsquo;s express consent to this EULA, following the issue of this EULA by the Licensor;</p>

<p>&ldquo;<strong>Intellectual Property Rights</strong>&rdquo; means all intellectual property rights wherever in the world, whether registrable or unregistrable, registered or unregistered, including any application or right of application for such rights (and these &ldquo;intellectual property rights&rdquo; include copyright and related rights, database rights, confidential information, trade secrets, know-how, business names, trade names, trademarks, service marks, passing off rights, unfair competition rights, patents, petty patents, utility models, semi-conductor topography rights and rights in designs);</p>

<p>&ldquo;<strong>Licensor</strong>&rdquo; means Culinary Task Force, LLC of 2341 Glencoe Ave</p>

<p>Venice, CA 9029 any of its affiliates, a company incorporated in United States.</p>

<p>&ldquo;<strong>Licensor Indemnity Event</strong>&rdquo; has the meaning given to it in Clause 13.1;</p>

<p>&ldquo;<strong>Maintenance Services</strong>&rdquo; means the supply to the User technical support for the application OR supply to the User Updates and Upgrades;</p>

<p>&ldquo;<strong>Services</strong>&rdquo; means any services that the Licensor provides to the User, or has an obligation to provide to the User, under this EULA;</p>

<p>&ldquo;<strong>Software</strong>&rdquo; means&nbsp;the IN STORE ORDERING KIOSK application in all of any of its parts or coding;</p>

<p>&ldquo;<strong>Software Defect</strong>&rdquo; means a defect, error or bug in the Software having an adverse effect OR a material adverse effect on the appearance, operation, functionality or performance of the Software, but excluding any defect, error or bug caused by or arising as a result of any act or omission of the User or any person authorized by the User to use the Software.</p>

<p>&ldquo;<strong>Source Code</strong>&rdquo; means the Software code in human-readable form or any part of the Software code in human-readable form, including code compiled to create the application or decompiled from the application, but excluding interpreted code comprised in the Software;</p>

<p>&ldquo;<strong>Support Services</strong>&rdquo; means support in relation to the use of the Software and the identification and resolution of errors in the Software, but shall not include the provision of training services whether in relation to the Software or otherwise;</p>

<p>&ldquo;<strong>Term</strong>&rdquo; means the term of this EULA, commencing in accordance with Clause 3.1 and ending in accordance with Clause 3.2;</p>

<p>&ldquo;<strong>Update</strong>&rdquo; means a hotfix, patch or minor version update to the application;</p>

<p>&ldquo;<strong>Upgrade</strong>&rdquo; means a major version upgrade of the application;</p>

<p>&ldquo;<strong>User</strong>&rdquo; means the person to whom the Licensor grants a right to use the Software under this EULA.</p>

<ol>
	<li value="2"><strong>Credit</strong></li>
	<li><strong>Term</strong></li>
</ol>

<p>3.1&nbsp;&nbsp;&nbsp; This EULA shall come into force upon the Effective Date.</p>

<p>3.2&nbsp;&nbsp;&nbsp; This EULA shall continue in force indefinitely, subject to termination in accordance with Clause 15.</p>

<ol>
	<li value="2"><strong>License</strong></li>
</ol>

<p>4.1&nbsp;&nbsp;&nbsp; The Licensor hereby grants to the User from the date of supply of the application to the User until the end of the Term, non-exclusive license to create, store and maintain back-up copies of the Software, subject to the limitations and prohibitions set out and referred to in this Clause 4.</p>

<p>4.2&nbsp;&nbsp;&nbsp; The User may not sub-license and must not purport to sub-license any rights granted under Clause 4.1 without the prior written consent of the Licensor.</p>

<p>4.3&nbsp;&nbsp;&nbsp; Save to the extent expressly permitted by this EULA or required by applicable law on a non-excludable basis, any license granted under this Clause 4 shall be subject to the following prohibitions:</p>

<p>(a)&nbsp;&nbsp;&nbsp; the User must not sell, resell, rent, lease, loan, supply, publish, distribute or redistribute the Software;</p>

<p>(b)&nbsp;&nbsp;&nbsp; the User must not alter, edit or adapt the Software; and</p>

<p>(c)&nbsp;&nbsp;&nbsp; the User must not decompile, de-obfuscate or reverse engineer, or attempt to decompile, de-obfuscate or reverse engineer, the Software.</p>

<p>4.4&nbsp;&nbsp;&nbsp; The User shall be responsible for the security of copies of the Software supplied to the User under this EULA (or created from such copies) and shall use all reasonable endeavors (including all reasonable security measures) to ensure that access to such copies is restricted to persons authorized to use them under this EULA.</p>

<ol>
	<li value="2"><strong>Source Code</strong></li>
</ol>

<p>5.1&nbsp;&nbsp;&nbsp; Nothing in this EULA shall give to the User or any other person any right to access or use the Source Code or constitute any license of the Source Code.</p>

<ol>
	<li value="2"><strong>Maintenance Services</strong></li>
</ol>

<p>6.1&nbsp;&nbsp;&nbsp; The Licensor shall provide the Maintenance Services to the User during the Term.</p>

<p>6.2&nbsp;&nbsp;&nbsp; The Licensor shall provide the Maintenance Services with reasonable skill and care in accordance with the standards of skill and care reasonably expected from a leading service provider in the Licensor&rsquo;s industry.</p>

<p>6.3&nbsp;&nbsp;&nbsp; The Licensor warrants to the User that the application of Updates and Upgrades to the Software by the Licensor will not introduce any Software Defects into the Software.</p>

<p>6.4&nbsp;&nbsp;&nbsp; The Licensor warrants to the User that the application of Updates and Upgrades to the Application by the User in accordance with the instructions of the Licensor will not introduce any Software Defects into the Software.</p>

<p>6.5&nbsp;&nbsp;&nbsp; The Licensor may suspend the provision of the Maintenance Services if any amount due to be paid by the User to the Licensor under this EULA is overdue, and the Licensor has given to the User at least [30 days&rsquo;] written notice, following the amount becoming overdue, of its intention to suspend the Maintenance Services on this basis.</p>

<p>6.6&nbsp;&nbsp;&nbsp; If the Licensor stops or makes a good faith decision to stop providing maintenance services in relation to the Software to its customers generally, then the Licensor may terminate the Maintenance Services by giving at least [90 days&rsquo;] written notice of termination to the User.</p>

<p>6.7&nbsp;&nbsp;&nbsp; If the Maintenance Services are terminated in accordance with the provisions of this Clause 6:</p>

<p>(a)&nbsp;&nbsp;&nbsp; the User must pay to the Licensor any outstanding Charges in respect of Maintenance Services provided to the User before the termination of the Maintenance Services;</p>

<p>(b)&nbsp;&nbsp;&nbsp; the Licensor must refund to the User any Charges paid by the User to the Licensor in respect of Maintenance Services that were to be provided to the User after the termination of the Maintenance Services; and</p>

<p>(c)&nbsp;&nbsp;&nbsp; the provisions of this Clause 6, excluding this Clause 6.7, shall cease to apply, but the other provisions of this EULA will continue notwithstanding such termination.</p>

<ol>
	<li value="2"><strong>Support Services</strong></li>
</ol>

<p>7.1&nbsp;&nbsp;&nbsp; The Licensor shall provide the Support Services to the User during the Term.</p>

<p>7.2&nbsp;&nbsp;&nbsp; The Licensor shall provide the Support Services with reasonable skill and care OR in accordance with the standards of skill and care reasonably expected from a leading service provider in the Licensor&rsquo;s industry.</p>

<p>7.3&nbsp;&nbsp;&nbsp; The Licensor may suspend the provision of the Support Services if any amount due to be paid by the User to the Licensor under this EULA is overdue;</p>

<p>7.4&nbsp;&nbsp;&nbsp; Either party may terminate the Support Services by giving to the other party written notice;</p>

<ol>
	<li value="2"><strong>No assignment of Intellectual Property Rights</strong></li>
</ol>

<p>8.1&nbsp;&nbsp;&nbsp; Nothing in this EULA shall operate to assign or transfer any Intellectual Property Rights from the Licensor to the User, or from the User to the Licensor.</p>

<ol>
	<li value="2"><strong>Charges</strong></li>
</ol>

<p>9.1&nbsp;&nbsp;&nbsp; The User shall pay the Charges to the Licensor in accordance with the current designated Payment established in the Clover App Market at initial time of download.</p>

<ol>
	<li value="2"><strong>Payments</strong></li>
</ol>

<p>10.1&nbsp; The Licensor will be responsible for issuing the charge type in accordance with Clover standards in four different sources: Subscription, Prorated Subscription, Partial Month, and Metered.</p>

<p>(a) Subscription &ndash; a monthly subscription rate of zero or more will generate a&nbsp;<strong>Subscription</strong>&nbsp;charge for that amount at the beginning of every month for each merchant (MID) who already has that app installed. Unlike the other charge types,&nbsp;<strong>Subscription</strong>&nbsp;charges&nbsp;are&nbsp;payments for the current/upcoming month. So&nbsp;on January first,&nbsp;<strong>Subscription&nbsp;</strong>charges will be generated for the subscription period of the month of January.&nbsp;<strong>Subscription &nbsp;</strong>charges will only ever be generated at the beginning of full month periods.</p>

<p>(b) Prorated Subscription -any upgrades or downgrades the subscription part way through a month, and the effective monthly subscription rate changes, a&nbsp;<strong>Prorated Subscription</strong>&nbsp;charge will be generated immediately at the time of the upgrades or downgrades. If moving to a&nbsp;<em>higher</em>&nbsp;monthly subscription rate, the&nbsp;<strong>Prorated Subscription &nbsp;</strong>will be a charge for the difference in rate for the remainder of the month at the time of the change. If moving to a&nbsp;<em>lower</em>&nbsp;monthly subscription rate, the&nbsp;<strong>Prorated Subscription &nbsp;</strong>will be a refund for the difference in the rate for the remainder of the month at the time of the change.</p>

<p>(c) Partial Month &ndash; If&nbsp;it is not precisely the beginning of a billing period when the end of a free trial period with an app&nbsp;(or installs an app without a free trial), a&nbsp;<strong>Partial Month&nbsp;</strong>charge will be generated on the day the billable subscription rate activates. This charge will be a partial monthly subscription amount for the remainder of the month long billing period after the app first becomes billable.</p>

<p>(d) Metered &ndash; a metered event is triggered for an app with billable metered events, Clover collects the event. On the first of every month all of the metered events a merchant generated for a given app during the previous month are totaled together into a single&nbsp;<strong>Metered</strong>&nbsp;charge.</p>

<ol>
	<li value="12"><strong>Warranties</strong></li>
</ol>

<p>11.1&nbsp; The Licensor warrants to the User that it has the legal right and authority to enter into this EULA and to perform its obligations under this EULA.</p>

<p>11.2&nbsp; The Licensor warrants to the User that:</p>

<p>(a)&nbsp;&nbsp;&nbsp; the Software as provided will conform in all material respects with the Software Specification;</p>

<p>(b)&nbsp;&nbsp;&nbsp; the Software will be supplied free from Software Defects and will remain free from Software Defects;</p>

<p>(c)&nbsp;&nbsp;&nbsp; the Software will be supplied free from malicious software programs;</p>

<p>11.3&nbsp; The Licensor warrants to the User that the Software, when used by the User in accordance with this EULA, will not breach any laws, statutes or regulations applicable under the law.</p>

<p>11.4&nbsp; The Licensor warrants to the User that the Software, when used by the User in accordance with this EULA, will not infringe the Intellectual Property Rights of any person in any jurisdiction and under any applicable law.</p>

<ol>
	<li value="2"><strong>Acknowledgements and warranty limitations</strong></li>
</ol>

<p>12.1&nbsp; The User acknowledges that complex software is never wholly free from defects, errors, bugs, and security vulnerabilities; and subject to the other provisions of this EULA, the Licensor gives no warranty or representation that the Software will be wholly free from defects, errors, bugs, and secure.</p>

<p>12.2&nbsp; The User acknowledges that the Software is only designed to be compatible with specified Clover devices.</p>

<p>12.3&nbsp; The User acknowledges that the Licensor will not provide any legal, financial, accountancy or taxation advice under this EULA or in relation to the Software.</p>

<ol>
	<li value="2"><strong>Indemnities</strong></li>
</ol>

<p>13.1&nbsp; The Licensor shall indemnify and shall keep indemnified the User against any and all liabilities, damages, losses, costs and expenses (including legal expenses and amounts reasonably paid in settlement of legal claims) suffered or incurred by the User and arising directly or indirectly as a result of any breach by the Licensor of this EULA (a &ldquo;<strong>Licensor Indemnity Event</strong>&ldquo;).</p>

<p>13.2&nbsp; The User must:</p>

<p>(a)&nbsp;&nbsp;&nbsp; upon becoming aware of an actual or potential Licensor Indemnity Event, notify the Licensor;</p>

<p>(b)&nbsp;&nbsp;&nbsp; provide to the Licensor all such assistance as may be reasonably requested by the Licensor in relation to the Licensor Indemnity Event;</p>

<p>(c)&nbsp;&nbsp;&nbsp; allow the Licensor the exclusive conduct of all disputes, proceedings, negotiations and settlements with third parties relating to the Licensor Indemnity Event; and</p>

<p>(d)&nbsp;&nbsp;&nbsp; not admit liability to any third party in connection with the Licensor Indemnity Event.</p>

<p>13.3&nbsp; The User shall indemnify and shall keep indemnified the Licensor against any and all liabilities, damages, losses, costs and expenses (including legal expenses and amounts reasonably paid in settlement of legal claims) suffered or incurred by the Licensor and arising directly or indirectly as a result of any breach by the User of this EULA (a &ldquo;<strong>User Indemnity Event</strong>&ldquo;).</p>

<p>13.4&nbsp; The Licensor must:</p>

<p>(a)&nbsp;&nbsp;&nbsp; upon becoming aware of an actual or potential User Indemnity Event, notify the User;</p>

<p>(b)&nbsp;&nbsp;&nbsp; provide to the User all such assistance as may be reasonably requested by the User in relation to the User Indemnity Event;</p>

<p>(c)&nbsp;&nbsp;&nbsp; allow the User the exclusive conduct of all disputes, proceedings, negotiations and settlements with third parties relating to the User Indemnity Event; and</p>

<p>(d)&nbsp;&nbsp;&nbsp; not admit liability to any third party in connection with the User Indemnity Event or settle any disputes or proceedings involving a third party and relating to the User Indemnity Event without the prior written consent of the User,</p>

<p>13.5&nbsp; The indemnity protection set out in this Clause 13 shall be subject to the limitations and exclusions of liability set out in this EULA.</p>

<ol>
	<li value="2"><strong>Limitations and exclusions of liability</strong></li>
</ol>

<p>14.1&nbsp; Nothing in this EULA will:</p>

<p>(a)&nbsp;&nbsp;&nbsp; limit or exclude any liability for death or personal injury resulting from negligence;</p>

<p>(b)&nbsp;&nbsp;&nbsp; limit or exclude any liability for fraud or fraudulent misrepresentation;</p>

<p>(c)&nbsp;&nbsp;&nbsp; limit any liabilities in any way that is not permitted under applicable law; or</p>

<p>(d)&nbsp;&nbsp;&nbsp; exclude any liabilities that may not be excluded under applicable law,</p>

<p>and, if a party is a consumer, that party&rsquo;s statutory rights will not be excluded or limited by this EULA, except to the extent permitted by law.</p>

<p>14.2&nbsp; The Licensor will not be liable to the User in respect of any business or personal losses or anticipated savings both directly or indeirectly.</p>

<ol>
	<li value="2"><strong>Termination</strong></li>
</ol>

<p>15.1&nbsp; Clover merchants may terminate this EULA immediately. Clover merchants will uninstall the app from the App Market to terminate.&nbsp;</p>

<ol>
	<li value="2"><strong>Effects of termination</strong></li>
</ol>

<p>16.1&nbsp; Upon the termination of this EULA, all of the provisions of this EULA shall cease to have effect, save that the following provisions of this EULA shall survive and continue to have effect.</p>

<ol>
	<li value="2"><strong>General</strong></li>
</ol>

<p>17.1&nbsp; No breach or vary of any provision of this EULA shall be waived except with the express written consent of the party not in breach.</p>

<p>17.2&nbsp; If any provision of this EULA is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions of this EULA will continue in effect.</p>

