<section  id="faq">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12 text-center">
	            <h2>FAQ</h2>
	            <hr class="star-primary">
	        </div>
	    </div>
	    <div class="row">
	    	<div class="div col-lg-12">
	    		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          How do I install Self Serve Kiosk?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				        <ol>
				        <li>Download Self Serve Kiosk via the Clover App Market</li>
				        <li><a class="scroll" href="#contact">Contact Us</a> via this form so we can create your Kiosk Management Portal and App Login.</li>
				        <li>
				        	Logon to the your Clover POS hardware and enter your login infomation to activate Customer Facing Mode.
				        </li>
				        </ol>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				         How do I manage my Photos and Descriptions?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				       <ol>
				        <li>Login to your Kiosk Management Portal. You will see a list of your Items and Modifiers</li>
				        <li>Click on the Item or Modifier you want to change an d you will be able to edit the photos and description of your chosen item..</li>
				        <li>
				        	Press Save.
				        </li>
				        </ol>
				      </div>
				    </div>
				  </div>
				   <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFour">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				          How do I exit Kiosk Mode?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				      <div class="panel-body">
				        Press all four corners of the screen and enter the pin code 6369.
				      </div>
				    </div>
				    
				  </div>
				     <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          How does Self Service Kiosk Handle Payments?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				       	All payments are made through the Clover Register App.
				      </div>
				    </div>
				    
				  </div>
				</div>
	    	</div>
	    </div>
</section
