    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-responsive" src="img/clover.jpg" alt="">
                </div>
                <div class="col-lg-6">
                     <div class="intro-text">
                     <span class="name">{{ site.title }}
                     <br><small>For Clover POS</small></span>
                     
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
    </header>